# 1. Data Frame'ler ve Series Yapısı 
##  | Satır ve Sütun Seçme

In [1]:
person = {
    "first": "Corey", 
    "last": "Schafer", 
    "email": "CoreyMSchafer@gmail.com"
}

In [2]:
people = {
    "first": ["Corey"], 
    "last": ["Schafer"], 
    "email": ["CoreyMSchafer@gmail.com"]
}

In [9]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [6]:
# Burada key'leri sütunlar, value'leri (değerleri) de satırlar olarak düşünüyoruz.

In [10]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [13]:
# Pandas taki data frame yapısının da buna benzer olduğunu görüyoruz , 
# ancak data frame'lerin daha fazla fonksiyonelliğe sahip olduğunu da görüyoruz.

In [12]:
# şimdi bu dictionary yapısından bir data frame oluşturalım :

In [14]:
import pandas as pd

In [271]:
df = pd.DataFrame(people)  #DataFrame methoduna arguman olarak "people" dictionary'sini gönderiyoruz.

In [17]:
# şimdi df ismini verdiğimiz ve data olarak people'ı alan data frame'i görelim :
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [18]:
# gördüğünüz gibi satır ve sütunlardan oluşan yapıda key'ler(first, last, email) sütunları,
# value'lar ise satırları oluşturdu.

In [19]:
# satırların en solunda ise 0, 1, 2 şeklinde index değerlerini görüyoruz.

In [21]:
# Şimdi dataframe içerisindeki verilere nasıl ulaşacağımıza bir bakalım;

In [55]:
# Bir sütuna nasıl erişebileceğimize bakalım önce.

In [221]:
# Tıpkı dict. yapısındaki gibi erişeceğiz, key değerini data frame içerisine girdiğimizde bize
# ilgili sütunu getirecek.

In [24]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [39]:
# Bu sütunu getirmenin ikinci yolu :

In [40]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [54]:
# Bu şekilde dot notation kullanarak email sütununu getirirken objeye ait attribute getirme
# yolunu kullanmış oluyoruz. Bu yolu tercih etmemeliyiz. 
# Çünkü objeye ait aynı isimde bir attribute veya method varsa bu sütunu getiremeyiz, hata alırız.
# Köşeli parantezlerle; df['email'] şeklinde getirmeyi tercih etmeliyiz.

In [25]:
# şimdi getirdiğimiz datanın type'ına bir bakalım :

In [27]:
type(df['email'])

pandas.core.series.Series

In [28]:
# pandasta Series adı verilen bir tipe sahip olduğunu görüyoruz.
# peki bir Series objesi nedir ?

In [38]:
# Series'i, temel olarak bir list gibi düşünebiliriz.
# tanımlamasında tek-boyutlu array olduğunu görüyoruz ayrıca.
# Data Frame; satırlar ve sütunlardan oluşan bir yapı;
# Series ise; tek bir sütundaki satırlardan meydana gelen bir yapı.

# Yani Data Frame; birçok Series objesinden meydana gelen bir container(konteynır).

In [31]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df.ndim  #ndim'i daha önce numpy da boyut bilgisi almak için kullanmıştık.

2

In [34]:
# Data frame'in satırlar ve sütunlarla iki-boyutlu bir veri yapısı olduğunu görüyoruz.

In [36]:
df['email'].ndim

1

In [37]:
# Series'in ise tek-boyutlu bir veri yapısı olduğunu görüyoruz. Yani aslında tek boyutlu bir array.

In [46]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [47]:
df['email'][0]

'CoreyMSchafer@gmail.com'

In [52]:
# Burada df'i 2-boyutlu bir array gibi düşünürsek ilk boyutta 'email' değeriyle, bir sonraki boyuta
# ulaşmış oluyoruz. İçteki boyutta ise 0,1,2 index numaralarından biriyle, istediğimiz satıra ulaşıyoruz.
# içteki boyutta 0,1,2 index numaralarına sahip tek-boyutlu bir array olduğunu düşünmeliyiz.

In [57]:
# Bir sütuna nasıl erişebileceğimizi gördük.
# Birden fazla sütuna nasıl erişebiliriz ?
# Aynı syntax'ı kullanarak içerisine bir sütun listesi gireceğiz :

In [58]:
df[['last','email']]    # Sütun değerlerinden oluşan bir list'i kendisine ait [ ] içerisinde giriyoruz.

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [175]:
# burada dikkat etmemiz gereken bir nokta ;
# birden fazla sütun seçilirse getirilen yapı bir başka dataframe oluyor. 
# Yani sonuç data tipi bir data frame.
# Tek sütun ve çoklu sütun seçimindeki data type farkına bakalım :

In [176]:
type(df['email'])

pandas.core.series.Series

In [177]:
type(df[['last','email']])

pandas.core.frame.DataFrame

****

In [60]:
df[['email','last']]  # Hangi sırayla girerseniz o sırayla getirecektir.

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

In [179]:

# columns attribute ile bir df'teki sütunları görebiliriz:

df.columns

Index(['first', 'last', 'email'], dtype='object')

In [ ]:
# Buradan da anlaşılacağı gibi ; sütunlarımız bizim indexlerimiz...
# Bu yüzden df[0][1] yapamayız ancak df['email'][0] yapabiliriz.
# Satırlardaki indexler 0,1,2... şeklinde gidiyor.

In [180]:
df['email'][0]

'CoreyMSchafer@gmail.com'

In [241]:
df[:]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [246]:
df[:][:]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [286]:
df[:][0:1]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [ ]:
# df[][] şeklindeki syntaxta [sütun][satır] şeklinde bir yapı vardır.
# Ancak istenilen satırı df[:][0] şeklinde getirmeye çalışırsanız hata alırsınız.
# 0. satırı getirmek için df[:][0:1] şeklinde girmeniz gerekir.
# Bu erişim yöntemi ise kullanışlı değildir.

# Data frame'lerde eleman erişimi için iloc ve loc olmak üzere iki methodu kullanacağız.

# 2. Data Frame'lerde Elemanlara/Dataya Erişim Yöntemleri
## Satırları Getirme Yöntemleri

### " iloc " Methodu ile Satır Getirme

In [184]:
# "integer location" ifadesinin kısaltmasıdır "iloc"...

In [185]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [186]:
# birinci satırı getirmek için :  syntax :  iloc[ index_num ]

In [188]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [189]:
# iloc bize satırları indexleri ile birlikte (first, last, email) getirir...

In [190]:
# Birden fazla satır getirmek için :

In [191]:
df.iloc[[0, 1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [289]:
# Birden fazla satır getirdiğimizde tıpkı sütunlardaki gibi sonuç data frame tipinde oluyor.

# iloc[[0, 1]] yapmak yerine slicing ile iloc[0:2] şeklinde de getirebiliriz:

In [288]:
df.iloc[0:2]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [291]:
df.iloc[0:3:2]     # start:stop:step

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

### " iloc " ile Satır ve Sütun Seçimi Yapmak

In [194]:
# iloc methodu ilk argument olarak satır-indexi, ikinci argument olarak sütun-indexi alabilir.

In [195]:
# Böylece satır ve sutün seçimi yapabiliriz :

In [203]:
# syntax:  iloc[ [row_num1, row_num2], column_num ]

In [ ]:
# Dikkat: iloc ; yalnızca integer location numarası alıyor. 
# bu yüzden sütun indexlerini string değerleriyle ('first', 'last', 'email') değil ;
# sıra numaralarını kullanarak (0, 1, 2...) gireceğiz :

In [198]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [229]:
df.iloc[0, 2]

'CoreyMSchafer@gmail.com'

In [205]:
# 0 ve 1 nolu satırlarda email sütununu yani 2 nolu sütunu getirmek için :

df.iloc[[0, 1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [206]:

# çoklu satır ile çoklu sütun seçmek için :
# syntax:  iloc[ [row_num1, row_num2], [column_num1, column_num2] ]

df.iloc[[0, 1], [1,2]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [220]:

df.iloc[[0, 1, 2], [1,2]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [294]:
df.iloc[ 0:2, [1,2] ]  # Yukarıdaki erişimin aynısını slicing ile yapıyoruz
                       # start:stop giriyoruz

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [296]:
df.iloc[ 0:2, 1:3 ]  # Aynı sonucu bu şekilde de getirebiliriz.

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

****
## " loc " ile Satır ve Sütun Seçimi Yapmak

In [211]:
# iloc methodu index değerleri olarak integer değerler alıyordu.
# loc methodu ise label'ları index olarak alır.

In [212]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [409]:
df.loc[0]   # satır indexlerini değiştirmediğimiz için mevcut label'lar 0,1,2
            # üzerinden gidiyoruz. Index set işleminde bunların da string olduğu
            # durumları göreceğiz yani satıra loc['satır_index_label'] şeklinde erişeceğiz.

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [298]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [228]:
df.loc[:,'last']

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

In [214]:
# Bu df'te satır label'ları özelleştirmediğimiz için 0,1,2... şeklinde geldi.
# Sütunlar içinse zaten first, last, email girdilerimiz mevcut.

In [215]:
df.loc[ 0, 'email' ]

'CoreyMSchafer@gmail.com'

In [216]:
df.loc[ 0, 'last' ]

'Schafer'

In [217]:
df.loc[ [0, 1], 'last' ]

0    Schafer
1        Doe
Name: last, dtype: object

In [218]:
df.loc[ [0, 1], ['last', 'email'] ]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [219]:
df.loc[ [0, 1, 2], ['last', 'email'] ]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [301]:
# loc ile slicing yaparsak stop değerinin dahil edildiğine dikkat edelim..!
# iloc methodunda stop değeri dahil değildir.

df.loc[ 0:2, ['last', 'email'] ]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [307]:
df.iloc[ 0:2, 1:3 ]  # iloc'ta stop değerleri dahil edilmiyor

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [306]:
# Şimdi bu uygulamaları daha büyük bir data olan Stack-Over-Flow datamız üzerinde yapalım ;
# Pandas_Ders.ipynb notebook sayfamıza atlıyoruz...