In [1]:
import pandas as pd

In [ ]:
# Series - tek boyutlu arraylerdir.Bir sutun diye dusunebiliriz.

In [2]:
a = [1,7,2]

In [3]:
my_series = pd.Series(a)

In [4]:
print(my_series)

0    1
1    7
2    2
dtype: int64

In [ ]:
# label ; Series icerisindeki index numaralaridir

In [5]:
print(my_series[0])

1

In [6]:
my_series2 = pd.Series(a,index = ["x","y","z"])

In [7]:
print(my_series2)

x    1
y    7
z    2
dtype: int64

In [8]:
print(my_series2["x"])

1

In [9]:
kaloriler = {"gun1" : 420, "gun2" : 380, "gun3" : 390}

In [10]:
my_series3 = pd.Series(kaloriler)

In [11]:
print(my_series3)

gun1    420
gun2    380
gun3    390
dtype: int64

In [12]:
# DataFrame  - Pandasta kullanilan data kumeleridir.Cok boyutludur.Serilerden olusur

In [13]:
data = {"kaloriler" : [420,380,390],
        "sure" : [50,40,45]}

In [14]:
datafr = pd.DataFrame(data)

In [15]:
print(datafr)

   kaloriler  sure
0        420    50
1        380    40
2        390    45

In [16]:
person = {
    "first": "Corey",
    "last": "Schafer",
    "email": "CoreyMSchafer@gmail.com"
}

In [17]:
people = {
    "first": ["Corey"],
    "last": ["Schafer"],
    "email": ["CoreyMSchafer@gmail.com"]
}

In [18]:
people = {
    "first": ["Corey", 'Jane', 'John'],
    "last": ["Schafer", 'Doe', 'Doe'],
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [19]:
df = pd.DataFrame(people)
print(df)

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [20]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [21]:
df.email  # tavsiye edilmez

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [22]:
type(df['email'])

pandas.core.series.Series

In [23]:
type(df['email'][1])

str

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.ndim

2

In [26]:
df.shape

(3, 3)

In [27]:
df['email'].ndim

1

In [37]:
df['email'][1]

'JaneDoe@email.com'

In [38]:
df[['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

In [39]:
type(df[['email','last']])

pandas.core.frame.DataFrame

In [41]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [42]:
df[:]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [43]:
df[:][:]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [44]:
df[:1]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com

In [45]:
df[2:]

  first last              email
2  John  Doe  JohnDoe@email.com

In [46]:
df[:-1]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [47]:
# DataFrame Satirlari Getirme

## iloc

In [49]:
# syntax : iloc [index]

In [52]:
df.iloc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [53]:
df.iloc[[0,1]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [54]:
df.iloc[0:2]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com

In [56]:
df.iloc[0:3:2]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [57]:
# syntax : iloc[[row_num1,row_num2],column_num]

In [58]:
df.iloc[0,2]

'CoreyMSchafer@gmail.com'

In [59]:
df.iloc[[0,1],2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [60]:
df.iloc[0:2,2]

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

In [62]:
# syntax : iloc[[row_num1,row_num2],[column_num1,column_num2]]

In [63]:
df.iloc[[0,1],[1,2]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [64]:
df.iloc[[0,1,2],[1,2]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com
2      Doe        JohnDoe@email.com

In [65]:
df.iloc[0:2,[1,2]]

      last                    email
0  Schafer  CoreyMSchafer@gmail.com
1      Doe        JaneDoe@email.com

In [66]:
df.iloc[[0,1],[2,1]]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe

## loc

In [67]:
df.loc[0]

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [69]:
df.loc[:,'last']

0    Schafer
1        Doe
2        Doe
Name: last, dtype: object

In [72]:
df.loc[0,'email']

'CoreyMSchafer@gmail.com'

In [73]:
df.loc[[0,1],'email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
Name: email, dtype: object

## set_index() - indexlerin set edilmesi

In [74]:
df = pd.DataFrame(people)

In [75]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@email.com
2   John      Doe        JohnDoe@email.com

In [79]:
df.set_index('email',inplace=True)  # email sutununu direkt her verisiyle index numarasi olarak atar
                        # kalici olarak degistirmek icin (,inplace = True) yapabiliriz

In [80]:
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDoe@email.com         Jane      Doe
JohnDoe@email.com         John      Doe

In [81]:
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

##  reset_index()  - tekrardan 0,1,2,... yeniden numaralandirma

In [82]:
df.reset_index(inplace=True)

In [83]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@email.com   Jane      Doe
2        JohnDoe@email.com   John      Doe